<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cookandroid.helloandroid">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.HelloAndroid">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnGySxP08NBlvL5-PToKgw6zCRHJoKQyA"/>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".JoinActivity"
            tools:ignore="Instantiatable" />

        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <activity
            android:name=".CheckActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity"
            tools:ignore="Instantiatable" />

        <activity android:name=".MainActivity" />
        <activity android:name=".CheckupListActivity"></activity>

        <activity
            android:name=".InputCheckupActivity"
            android:exported="false" />
        <activity android:name=".InputCheckup2Activity"></activity>
        <activity android:name=".InputCheckup3Activity"></activity>

        <activity android:name=".MapActivity"></activity>

        <meta-data android:name="android.max_aspect" android:value="2.1" />
    </application>
</manifest>
